.basic-lair {
    max-width: 720px;
    max-height: 1280px;
    margin: 0 auto;

}
.app {
        width: 100%;
        height: 100%;
        background: url("./img/backgrnd.jpg");
        background-size: cover; 
}
     

.morning {
    background: url("./img/morning-bg.jpg") !important;
    background-size: cover !important; 
}

.day {
    background: url('./img/day-bg.jpg') !important;;
    background-size: cover !important; 

}

.evening {
    background: url('./img/evening-bg.jpg') !important;;
    background-size: cover !important;
}

.night {
    background: url('./img/night-bg.jpg') !important;;
    background-size: cover !important; 

}



main {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.6));
    padding: 25px;
}

.search-box {
    width: 100%;
    margin: 0 0 40px;
}

.search-input {
    display: block;
    width: 100%;
    padding: 15px;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0.5);
    border-radius: 0 0 16px 16px;
    margin-top: -25px;
    box-shadow: 0px 5px rgba(0,0,0,0.2);
    transition: 0.4s ease;
}

.search-input:focus {
    background-color: rgba(255,255,255,0.8);
}

/* .animated-container {
    opacity: 1;
    transition: opactity .4s ease-in-out;
} */
.location-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.location-container p {
    color: rgba(255, 255, 52, 0.658);
    margin-top: 10px
}
.location {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    text-shadow: 3px 3px rgba(50,50,70, 0.5);
}
.date {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    text-shadow: 2px 2px rgba(50,50,70, 0.5);
}
.weather-container {
    text-align: center;
}
.temp {
    position: relative;
    display: inline-block;
    margin: 30px auto;
    background-color: rgba(255,255,255,0.3);
    border-radius: 16px;
    padding: 15px 25px;
    font-size: 102px;
    color: #fff;
    font-weight: 900;
    text-shadow: 3px 6px rgba(50,50,70,0.5);
    text-align: center;
    box-shadow: 3px 6px rgba(0,0,0,0.2);

}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50,50,70,0.5);
}
.weather img {
    width: 100%;
    margin-top: 10px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 16px;
    padding: 15px 15x;
    box-shadow: 3px 6px rgba(0,0,0,0.2);
}

.icon-box {
    

}

.arrowBtn {
    font-size: 50px;
    color: rgba(255,255,255,0.1);
    text-shadow: 3px 6px rgba(50,50,70,0.05);
}

.activeBtn {
    color: #fff;
    text-shadow: 3px 6px rgba(50,50,70,0.5);
}
